@import "@fontsource/dm-sans/400-italic.css";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}
 

body{
  width: 100%;
  background: url(wattpad.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
   
}


.copyright {
  padding: 10px;
  text-align: center;
  background:crimson;
}




